*{
	padding: 0;
	margin: 0;	
}
body{
	background-color: #212121;
	perspective: 1000px;
}
.book{
	width: 800px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	transform: rotateX(30deg);
	transform-style: preserve-3d;
}
.page-box-1,.page-box-2,.page-box-3,.page-box-4,.page-box-5{
	width: 600px;
	height: 400px;
	position: absolute;
	left: 200px;
	top: 200px;
}
.page-1,.page-2,.page-3,.page-4,.page-5{
	width: 300px;
	height: 400px;
	position: absolute;
	left: 50%;
	background-color: #ccc;
	border: 1px solid #96a36e;
}
.page-1{
	background: url("222.jpg");
	background-size: 300px 400px;
}
.page-2,.page-3,.page-4,.page-5{
	font-size: 24px;
	text-align: left;
	width: 260px;
	height: 360px;
	padding: 20px;
}
@keyframes flip1{
	0%{
		transform: rotateY(0deg);
	}
	50%{
		transform: rotateY(-160deg);
	}
	100%{
		transform: rotateY(0deg);
	}
}
.page-box-1{
	animation: flip1 25s;
}
@keyframes flip2{
	0%{
		transform: rotateY(0deg);
	}
	50%{
		transform: rotateY(-150deg);
	}
	100%{
		transform: rotateY(0deg);
	}
}
.page-box-2{
	animation: flip2 20s 2s;
}
@keyframes flip3{
	0%{
		transform: rotateY(0deg);
	}
	50%{
		transform: rotateY(-140deg);
	}
	100%{
		transform: rotateY(0deg);
	}
}
.page-box-3{
	animation: flip3 15s 4s;
}
@keyframes flip4{
	0%{
		transform: rotateY(0deg);
	}
	50%{
		transform: rotateY(-130deg);
	}
	100%{
		transform: rotateY(0deg);
	}
}
.page-box-4{
	animation: flip4 10s 6s;
}